<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SimpleClassCreator.Ui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <SimpleClassCreator.Ui.Properties.Settings>
            <setting name="ConnectionsCSV" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;Initial Catalog=ClientManager;Integrated Security=SSPI;|Data Source=.\SQLEXPRESS;Initial Catalog=Dummy;Integrated Security=SSPI;</value>
            </setting>
        </SimpleClassCreator.Ui.Properties.Settings>
    </userSettings>
</configuration>
